.details {
  color: red;
  align-items: center;
  font-family: Graphique;
  min-height: 100vh;
  min-width: 100vw;
}

.details-container {
  background: black;
  text-align: center;
  opacity: 0.9;
}

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-header {
  font-family: Graphique;
  font-size: 3.5rem;
  padding: 10px;
  text-shadow: 2px 2px 2px white;
  color: red;
}

.details .details-container .image, 
.details .details-container .text {
  padding: 40px;
}

.image {
  align-items: center;
  width: 80vw;
  height: 90vh;
  max-width: 500px;
}

.details-text {
  font-size: 2em;
  max-width: 750px;
}

.Home-Page-Link {
  flex: 1;
  color: red;
  font-size: 2em;
}
