.details {
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Graphique;
  font-size: 30px;
  min-height: 100vh;
  min-width: 100vw;
}

.details-container {
  display: flex;
}

.details .details-container .image,
.details .details-container .text {
  flex: 1;
}

.image {
  align-items: center;
  width: 80%;
  height: 80%;
}

.Home-Page-Link {
  color: white;
}

@media only screen and (max-width: 640px) {
  .details-container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .details .details-container .image, 
  .details .details-container .text {
    padding: 40px;
  }
  .image {
    align-items: center;
    width: 80%;
    height: 80%;
  }
}
