.App {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.WelcomeMsg {
  text-align: center;
  color: rgb(178,34,34);
  font-family: Graphique;
}

.wrapper {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.coverNames {
  transition: top 1s ease-in;
  position: absolute;
  color: white;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  top: -120px;
}

.item:hover .coverNames {
  display: block;
  top: 0px;
}
